{% load static %}

{% block nav %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'admin_home' %}">Admin Console</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">


        <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin_articles'%}">All Articles <span class="sr-only">(current)</span></a>
      </li>

          <li class="nav-item active">
        <a class="nav-link" href="{% url 'moderate'%}">Comments <span class="sr-only">(current)</span></a>
      </li>

        <li class="nav-item active">
        <a class="nav-link" href="{% url 'list' %}">Site Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>

<ul class= "navbar-nav mr-auto">
<li>

           	<a href="{% url 'create' %}"class="btn btn-success">Add New Article</a>
</li>

<ul></ul>




              <li class="nav-item active">
           <form class = "logout-link" action = "{% url 'accounts:logout' %}" method="post">
						{% csrf_token %}
              <button type =  "submit" class="btn btn-warning btn-sm">Logout</button>
			</form>
      </li>

   </ul>


<ul></ul>




    </div>

  </div>
</nav>

{% endblock nav %}